<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/CSS/main.css">
</head>
<body>
<div class="header">
  <img class= "png"src="{{url_for('static', filename='Rosseti_white.png')}}"><h1>Личный кабинет</h1>
</div>

<div class="row">
  <div class="col-1 menu">
    <ul>
    <li><a href= "{{url_for('profile')}}" class="button">Профиль</a></li>
    <li><c href= "{{url_for('data')}}" class="button">Данные</c></li>
    <li><a href= "{{url_for('analysis')}}" class="button">Анализ</a></li>
    <li><a href= "{{url_for('payment')}}" class="button">Оплата</a></li>
    <li><a href= "{{url_for('notifications')}}" class="button">Уведомления</a></li>
    </ul>
  </div>
  <div class="col-2">
      <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>I</th>
      <th>U</th>
      <th>P</th>
      <th>T</th>
      <th>I_max</th>
      <th>U_max</th>
      <th>timecode</th>
    </tr>
  </thead>

  <tbody>
    {% for inst in dataset %}
    <tr>
      <td>{{inst[0]}}</td>
      <td>{{inst[1]}}</td>
      <td>{{inst[2]}}</td>
      <td>{{inst[3]}}</td>
      <td>{{inst[4]}}</td>
      <td>{{inst[5]}}</td>
      <td>{{inst[6]}}</td>
      <td>{{inst[7]}}</td>
    </tr>
 {% endfor%}   
</tbody>

</table>

</div>
</div>
</body>
</html>