<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src= "//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/CSS/main.css">
</head>
<body>
<div class="header">
  <img class= "png" src="{{url_for('static', filename='Rosseti_white.png')}}"><h1>Личный кабинет</h1>
</div>

<div class="row">
  <div class="col-1 menu">
    <ul>
    <li><a href= "{{url_for('profile')}}" class="button">Профиль</a></li>
    <li><c href= "{{url_for('data')}}" class="button">Данные</c></li>
    <li><a href= "{{url_for('charts')}}" class="button">Графики</a></li>
    <li><a href= "{{url_for('analysis')}}" class="button">Анализ</a></li>
    <li><a href= "{{url_for('payment')}}" class="button">Оплата</a></li>
    <li><a href= "{{url_for('notifications')}}" class="button">Уведомления</a></li>
    </ul>
  </div>
  <div class="col-2">
  <div class="rectangle">
   <label for=proglang>Выберите адрес:</label>
  <select id="rg" name="region">
    <option value="default">Регион</option>
    <option value="50">Москва и МО</option>
    <option value="47">Ленинградская обл.</option>
    <option value="16">Республика Татарстан</option>
    <option value="69">Тверская обл.</option>
    <option value="33">Владимирская обл.</option>
  </select>
   <script src="/static/JS/switch.js"></script>
  <select style="display: none;" id="city" name="city">
    <option value="default">Город</option>
  </select>
  <select style="display: none;" id="street" name="street">
    <option value="default">Улица</option>
    {% for inst in data[0] %}
    <option value="{{inst}}">{{inst}}</option>
    {% endfor%}  
  </select>
  <select style="display: none;" id="building" name="building">
    <option value="default">Дом</option>
    {% for inst in data[1] %}
    <option value="{{inst}}">{{inst}}</option>
    {% endfor%}  </select>
  <select style="display: none;" id="flat" name="flat">
    <option value="default">Квартира</option>
    {% for inst in data[2] %}
    <option value="{{inst}}">{{inst}}</option>
    {% endfor%}  </select>
  <br><br>
  <label for=proglang>Начало:</label>
  <input type="text" name="flatpick" id="flatpickr"></input>
  <label for=proglang>Конец:</label>
  <input type="text" name="flatpick1" id="flatpickr1"></input>
</div>
    <br><br>
    <form>
  	<a href=# id=process_input style="text-decoration:none;"><button class="other_buttons">Показать</button></a>
	</form>
	<br><br>

<div id="example-table"></div>

<script src="/static/JS/data.js"></script>
<script>
calendar = flatpickr('#flatpickr', {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    locale: "ru",
    minDate: "2020-08-22",
    maxDate: "2020-08-25",
});
calendar1 = flatpickr('#flatpickr1', {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    locale: "ru",
    minDate: "2020-08-22",
    maxDate: "2020-08-25",
});
</script>
</div>
</div>
</body>
</html>