<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/CSS/main.css">
</head>
<body>
<div class="header">
  <img class= "png"src="{{url_for('static', filename='Rosseti_white.png')}}"><h1>Личный кабинет</h1>
</div>

<div class="row">
  <div class="col-1 menu">
    <ul>
    <li><c href= "{{url_for('profile')}}" class="button">Профиль</c></li>
    <li><a href= "{{url_for('data')}}" class="button">Данные</a></li>
    <li><a href= "{{url_for('charts')}}" class="button">Графики</a></li>
    <li><a href= "{{url_for('analysis')}}" class="button">Анализ</a></li>
    <li><a href= "{{url_for('payment')}}" class="button">Оплата</a></li>
    <li><a href= "{{url_for('notifications')}}" class="button">Уведомления</a></li>
    </ul>
  </div>
  <div class="col-2">
  <div class="col-4">
  <img class= "profile"src="{{url_for('static', filename='Profile.png')}}">
  </div>
   <div class="col-3">
  <div class ="rec-left" style ="margin-top:0px;"><b>ФИО: Иванов Иван Иванович</b></div>
  <div class ="rec-left"><b>Адрес: г.Москва, ул.Ладожская, д.1, кв.1 </b></div>
  <div class ="rec-left"><b>Id счетчика: 1 </b></div>
  </div>
</div>
</div>
</body>
