<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>I</th>
      <th>U</th>
      <th>P</th>
      <th>T</th>
      <th>I_max</th>
      <th>U_max</th>
      <th>timecode</th>
    </tr>
  </thead>

  <tbody>
    {% for inst in dataset %}
    <tr>
      <td>{{inst[0]}}</td>
      <td>{{inst[1]}}</td>
      <td>{{inst[2]}}</td>
      <td>{{inst[3]}}</td>
      <td>{{inst[4]}}</td>
      <td>{{inst[5]}}</td>
      <td>{{inst[6]}}</td>
      <td>{{inst[7]}}</td>
    </tr>
 {% endfor%}   
</tbody>

</table>
